{% extends 'base.html' %}

{% block title %} Hackathon Starter Pack
{% endblock title %}


{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock style %}

{% block content %}
<br>
<br>
<br>
<div class="container jumbotron text-center text-success">
{% load staticfiles %}
<br>
<br>
Django Hackaton Starter Pack
<br>
<br>
</div>
<div>
</div>
{% endblock content %}
